customer.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT customer ( name+, cnum+, mail_a+) >
<!ELEMENT name ( first, last) >
<!ELEMENT first (#PCDATA) >
<!ELEMENT last (#PCDATA) >
<!ELEMENT cnum (#PCDATA) >
<!ELEMENT mail_a ( line, city , state , zip, country) >
<!ELEMENT line (#PCDATA) >
<!ELEMENT city (#PCDATA) >
<!ELEMENT state (#PCDATA) >
<!ELEMENT zip (#PCDATA) >
<!ELEMENT country (#PCDATA) >




