tvlist.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT tvlist ( cd, title, programe*, chanal*, name, time, month,year, news, search*) >
<!ELEMENT cd (#PCDATA) >
<!ELEMENT title (#PCDATA) >
<!ELEMENT programe (#PCDATA) >
<!ELEMENT chanal (#PCDATA) >
<!ELEMENT name (#PCDATA) >
<!ELEMENT time (#PCDATA) >
<!ELEMENT month (#PCDATA) >
<!ELEMENT year (#PCDATA) >
<!ELEMENT news (#PCDATA) >
<!ELEMENT search (#PCDATA) >
